<div class="about">
  <h1>About Futcup</h1>
  <h2>Playing</h2>
  <p>First, create an account and sign in. Then create and join leagues to get opponents and complete against people in your area and in the overall futcup site.</p>
  <p>Predict games in the gameboard, and see your friend's predictions on your scorecard. Predictions are closed about 1 hour prior to the game's start time.</p>

  <p>Points are earned by predicting the:</p>
  <ul>
    <li>Exact Score - 10 points</li>
    <li>Correct winner plus one team's score - 5 points</li>
    <li>Correct winner only - 3</li>
    <li>Correct difference between scores - 2</li>
    <li>**click "double or nothing" to get 20 points for an exact score prediction, but no points otherwise</li>
  </ul>


  <h4>Contact/Support</h4>
  <p>Futcup is a small, currently unfunded project so please be courteous to our servers, and if you have any issues contact Amy at amyg225@gmail.com or Bruno at brunon@futcup.com</p>
</div>
