<div class="landing">
  <h1>Welcome to Futcup!</h1>
  <p>Predict outcomes of world cup games to compete against your friends in your own leagues.</p>
  <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning" %><%= link_to "Sign In", new_user_session_path, class: "btn btn-info" %></p>
</div>
